.Eventnews{
    .Title{display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(140deg, #c0a8a2 0%, #e2e67a 50%, #BFD641 75%);
        font-weight: 900;
        font-size: 1.25rem;
        color: #806666;
        border-radius: 3.125rem 0.625rem 3.125rem 0.625rem;}
  
 
}
.Tradermark{

    div{
        background-color: rgb(141, 190, 142);
        height: 11rem;
        border-radius: 2rem;
        padding: 1.25rem  ;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}