.footer{
    background-color: black;
    width: 100%;
    color: #AAA;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.mainFooter{
    width: 80%;
}
.footer a{
    text-decoration: none;
    color: #AAA;
    font-size: 20px;
}
.title{
    font-size: 25px;
    color: #C09857;
}
.row{
    margin: 50px 0;
}
.icon{
    display: inline-block;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
}
.icon:hover{
    color: #C09857;

}
@media screen and (max-width: 400px) {
    .mainFooter{
        width: 95%;
    }
    .footer .title{
        font-size: 17px ;
    }
}