/* sanr phẩm New.jsx */
.globall{
    width: 48%;
    border: 1px solid black;
    margin: 20px 0;
    display: flex;
    background-color:#201f24;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.picture{
    width: 50%;
}
.picture img{
    width: 100%;
    height: 100%;
}
.blog{
    width: 50%;
    padding: 10px 20px;
    color: white;
}
.blog h2{
margin: 0;
}
.blog-text :hover {
    color: yellow;
}
.link{
    color: white;
    text-decoration: none;
}
