.loginForm{
    margin: auto;
    background-color: rgb(41, 42, 42);
    border-radius: 20px;
    box-shadow: rgb(171, 176, 181) 0px 20px 30px -10px;
}
.ant-form-item-feedback-icon {
    font-size: 30px !important;
}